@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);
@import url(http://allfont.ru/allfont.css?fonts=raleway-regular);
@import url(http://allfont.ru/allfont.css?fonts=raleway-medium);
@import url(http://allfont.ru/allfont.css?fonts=raleway-extrabold);
@import url(http://allfont.ru/allfont.css?fonts=raleway-semibold);

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    padding-top: 60px;
    background: url(../img/image.jpg);
    height: 1025px;
}

header .wrap {
    max-width: 1125px;
    margin: 0 auto;
}

.logo {
    float: left;
    font-family: 'Raleway Regular', arial;
    font-size: 34px;
    color: white;
    display: table;
    margin-top: -1.7%;
}

.waxom-logo  {
    display: table-cell;
}

.waxom {
    display: table-cell;
    vertical-align: middle;
}

.nav-top {
    float: right;
    font-family: 'Montserrat Light', arial;
    list-style-type: none;
    font-size: 0.875em;
    display: table;
    margin-top: -0.8%;
}

.nav-top li {
    float: left;
    display: inline-block;
    padding: 10px 15px;
    display: table-cell;
}

.nav-top li > a {
    text-decoration: none;
    color: #ffffff;
}

.nav-top li > a:hover {
    color: #c7b299;
}

.clearfix {
    clear: both;
}

.slider {
    margin-bottom: 380px;
}

.slider > .wrap {
    max-width: 1125px;
    margin: 0 auto;
}

.slider > .wrap > .col {
    padding-top: 285px;
    max-width: 585px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
}

.info {
    font-family: 'Raleway Medium', arial;
    font-size: 36px;
    color: white;
    margin-bottom: 15px;
}

.descrip {
    font-family: 'Raleway ExtraBold', arial;
    font-size: 52px;
    color: white;
    margin-bottom: 30px;
}

.small-text {
    font-family: 'Montserrat', arial;
    font-size: 16px;
    color: white;
}

.start {
    padding-top: 50px;
    width: 100%;
}

.btn {
    padding: 20px 40px;
    background-color: #998675;
    text-transform: uppercase;
    font-family: 'Raleway ExtraBold', arial;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 4px solid #736357;
}

.sec-1 {
    width: 100%;
    background-color: white;
}

.sec-1 {
    max-width: 1152px;
    margin: 0 auto;
}

.sec-1 > .wrap {
    padding-top: 75px;
}

.sec-1 > .wrap > .block {
    max-width: 270px;
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 110px;
}

.block > .title {
    font-family: 'Raleway SemiBold', arial;
    font-size: 22px;
    margin-bottom: 18px;
}

.block > .descrip-item {
    font-family: 'Montserrat', arial;
    font-size: 14px;
}

.block-logo {
    display: inline-block;
    margin-bottom: 30px;
}

.sec-2 {
    background-color: #fbfaf8;
}

.sec-2 .wrap {
    max-width: 1152px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.wrap > .block-info {
    padding-top: 80px;
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}

.block-info > .sec-2-text {
    font-family: 'Raleway SemiBold', arial;
    font-size: 30px;
    margin-bottom: 30px;
}

.block-info > .sec-2-descrip {
    font-family: 'Montserrat', arial;
    font-size: 16px;
}

.wrap > .block-info {
    padding-top: 80px;
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}

.sec-2 .wrap-2 {
    max-width: 1235px;
    margin: 0 auto;
    position: relative;
}

.wrap-2 > .block-img {
    max-width: 1235px;
}

.sec2-img-1 {
    display: block;
    margin: 0 auto;
    z-index: 100;
    position: relative;
}

.sec2-img-2 {
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 9;
}

.sec2-img-3 {
    position: absolute;
    top: 82px;
    left: 0;
    z-index: 9;
}

.sec-3 {
    background-image: url(../img/gradient.jpg);
    overflow: hidden;
    padding-bottom: 40px;
}

.sec-3 > .wrap {
    max-width: 1177px;
    margin: 0 auto;
    padding-top: 50px;
}

.sec-3-block-left {
    float: left;
}

.sec-3-block-right {
    float: right;
}

.sec-3-block-left > .sec-3-text {
    font-family: 'Raleway Regular', arial;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.sec-3-block-left > .sec-3-descrip {
    font-family: 'Montserrat', arial;
    font-size: 18px;
    color: #615855;
    padding-bottom: 10px;
}

.sec-3-btn {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 28px;
    background-color: #998675;
    font-family: 'Raleway ExtraBold', arial;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    display: inline-block;
    border-bottom: 4px solid #736357;
}

.sec-4 {
    width: 100%;
}

.sec-4 > .wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.wrap > .title-4 {
    padding-top: 80px;
    font-family: 'Raleway SemiBold', arial;
    font-size: 30px;
    text-align: center;
}

.block-descr {
    max-width: 765px;
    margin: 0 auto;
}

.descr-4 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat', arial;
    font-size: 16px;
    color: #8c8c8c;
}

.pag {
    max-width: 610px;
    margin: 0 auto;
    list-style-type: none;
    display: table;
}

.pag > li {
    display: table-cell;
    padding-left: 10px;
}